<h1 class="h1" [@nicknameAnimation]>razumovsky_r</h1>
<a
  class="rounterLink"
  routerLink=""
  routerLinkActive="rounterLinkActive"
  [routerLinkActiveOptions]="{ exact: true }"
>
  <div class="avatar" [@avatarAnimation]>
    <svg-icon src="../../../assets/svg/razumovsky.svg"></svg-icon>
  </div>
</a>
<p class="bio" id="headerText" [@bioAnimation]>
  .NET Developer & Azure DevOps Engineer
</p>
<div class="contactMe" [@aboutMeLinkAnimation]>
  <div class="contactMeContainer">
    <a
      *ngFor="let aboutMeLink of links"
      href="{{ aboutMeLink.link }}"
      target="blank"
    >
      <svg-icon
        src="{{ aboutMeLink.imagePath }}"
        class="contactMeSvg"
        [stretch]="true"
      ></svg-icon>
    </a>
  </div>
</div>
