:host {
  margin-top: 45px;
}

.h1 {
  font-size: 65px;
  text-align: center;
  font-weight: 600;
}

.avatar {
  width: 200px;
  height: 200px;
  border: 1px solid black;
  background-image: url("../../../assets/img/main-ava.png");
  background-size: cover;
  border-radius: 50%;
  margin: auto;
  margin-top: 45px;
}

.bio {
  margin-top: 45px;
  font-size: 45px;
  text-align: center;
}

.social {
  width: 100px;
  height: 100px;
  margin: auto;
}

.contactMe {
  display: flex;
  margin-top: 45px;
}

.contactMeContainer {
  display: flex;
  justify-content: space-around;
  margin: auto;
  width: 100%;
  max-width: 810px;

  a {
    display: block;
    text-align: center;
    margin: 16px 0px;
    width: 100px;
  }
}

ul {
  line-height: 200%;
  text-align: left;
  list-style-type: square;
}

a {
  position: relative;
}

.contactMeSvg {
  svg {
    width: 100px;
    height: 100px;
  }
}

@media screen and (max-width: 839px) {
  .contactMe {
    margin-top: 20px;

    a {
      width: 80px;
    }
  }

  .contactMeSvg {
    svg {
      width: 80px;
      height: 80px;
    }
  }
}

@media screen and (max-width: 533px) {
  .h1 {
    font-size: 55px;
  }

  .bio {
    font-size: 40px;
  }

  .contactMe {
    margin-top: 15px;

    a {
      width: 70px;
    }
  }

  .contactMeSvg {
    svg {
      width: 60px;
      height: 60px;
    }
  }
}

@media screen and (max-width: 459px) {
  .h1 {
    font-size: 50px;
  }

  .avatar {
    width: 170px;
    height: 170px;
    margin-top: 20px;
  }

  .bio {
    margin-top: 20px;
    font-size: 35px;
  }

  .contactMe {
    margin-top: 15px;

    a {
      width: 55px;
    }
  }

  .contactMeSvg {
    svg {
      width: 55px;
      height: 55px;
    }
  }
}

@media screen and (max-width: 413px) {
  .contactMe {
    margin-top: 15px;

    a {
      margin: 0px;
      width: 55px;
    }
  }

  .contactMeSvg {
    svg {
      width: 50px;
      height: 50px;
    }
  }
}

@media screen and (max-width: 360px) {
  .h1 {
    font-size: 40px;
  }

  .avatar {
    width: 150px;
    height: 150px;
    margin-top: 10px;
  }

  .bio {
    margin-top: 10px;
    font-size: 30px;
  }

  .contactMe {
    margin-top: 15px;

    a {
      margin: 0px;
      width: 55px;
    }
  }

  .contactMeSvg {
    svg {
      width: 45px;
      height: 45px;
    }
  }
}
