<h1 class="h1">razumovsky_r</h1>
<div class="avatar"></div>
<p class="bio" id="headerText">.NET Developer & Azure DevOps Engineer</p>
<div class="contactMe">
    <a href="https://github.com/kolosovpetro" target="blank">
        <img class="social" src="../../../assets/img/github.png" alt="github">
    </a>
    <a href="https://scholar.google.com/citations?user=MpDEhEUAAAAJ&hl=en" target="blank">
        <img class="social" src="../../../assets/img/google-scholar.png" alt="Google scholar">
    </a>
    <a href="https://orcid.org/0000-0002-6544-8880" target="blank">
        <img class="social" src="../../../assets/img/orcid.png" alt="orcid">
    </a>
    <a href="https://t.me/razumovsky_r" target="blank">
        <img class="social" src="../../../assets/img/telegram.png" alt="telegram">
    </a>
    <a href="https://www.credly.com/users/petro-kolosov" target="blank">
        <img class="social" src="../../../assets/img/credly.png" alt="medium">
    </a>
</div>