:host {
  display: flex;
  margin-top: 20px;
  width: 100%;
  text-align: center;
}

div {
  vertical-align: top;
  text-align: left;
  max-width: 1000px;
  width: 100%;
  font-size: 33px;
  margin: auto;
  padding: 0 10px;
}

ul {
  line-height: 200%;
  list-style-type: square;
  list-style-position: outside;
  padding-left: 40px;
}

li {
  box-sizing: content-box;
  position: relative;
}

a {
  display: inline-block;
  vertical-align: top;
  text-align: left;
  color: #d7034e;
  font-size: 30px;
  text-decoration: none;

  &:hover {
    text-decoration: underline;
  }
}

@media screen and (max-width: 839px) {
  div {
    font-size: 28px;
  }

  ul {
    line-height: 170%;
  }

  a {
    font-size: 25px;
  }
}

@media screen and (max-width: 703px) {
  div {
    font-size: 25px;
  }

  ul {
    line-height: 150%;
  }

  a {
    font-size: 22px;
  }
}

@media screen and (max-width: 533px) {
  ul {
    padding-left: 20px;
  }
  
  li::marker {
    display: inline-block;
    font-size: 20px;
  }
}

@media screen and (max-width: 413px) {
  div {
    font-size: 22px;
  }

  ul {
    line-height: 130%;
  }

  a {
    font-size: 19px;
  }
}