:host {
  margin-top: 20px;
  width: 100%;
  text-align: center;
}

div {
  display: inline-block;
  vertical-align: top;
  text-align: left;
  margin: 2%;
  width: 20%;
  font-family: 'Smooch Sans', sans-serif;
  font-size: 33px;
}

ul {
  line-height: 200%;
  list-style-type: square;
  list-style-position: outside;
  padding-left: 40px;
  margin: 40px 0;
}

li {
  box-sizing: content-box;
}

a {
  display: inline-block;
  vertical-align: top;
  text-align: left;
  color: #d7034e;
  font-size: 30px;
}