:host {
  display: flex;
  margin-top: 20px;
  width: 100%;
}

.container {
  margin: auto;
  max-width: 1000px;
  width: 100%;
}

.topic {
  vertical-align: top;
  text-align: left;
  font-size: 33px;
  margin: 0px 10px;
}

ul {
  line-height: 200%;
  list-style-type: square;
  list-style-position: outside;
  padding-left: 40px;
  margin: 40px 0;
}

li {
  box-sizing: content-box;
  position: relative;
}

a {
  display: inline-block;
  vertical-align: top;
  text-align: left;
  color: #d7034e;
  font-size: 30px;
  text-decoration: none;

  &:hover {
    text-decoration: underline;
  }
}

@media screen and (max-width: 839px) {
  .topic {
    font-size: 28px;
  }

  ul {
    line-height: 170%;
    margin: 20px 0;
  }

  a {
    font-size: 25px;
  }
}

@media screen and (max-width: 703px) {
  .topic {
    font-size: 25px;
  }

  ul {
    line-height: 150%;
  }

  a {
    font-size: 22px;
  }
}

@media screen and (max-width: 533px) {
  ul {
    padding-left: 20px;
    margin: 10px 0;
  }

  li::marker {
    display: inline-block;
    font-size: 20px;
  }
}

@media screen and (max-width: 413px) {
  .topic {
    font-size: 22px;
  }

  ul {
    line-height: 120%;
  }

  a {
    font-size: 19px;
  }
}
