:host {
  display: flex;
  width: 100%;
}

.container {
  display: flex;
  margin: auto;
  justify-content: space-around;
  max-width: 810px;
  width: 100%;
}

a {
  display: block;
  text-align: center;
  margin: 2%;
  font-size: 45px;

  &:hover {
    color: #d7034e;
    text-decoration: none;
  }
}

.rounterLink {
  color: black;
}

.rounterLinkActive {
  color: #d7034e;
}

@media screen and (max-width: 839px) {
  a {
    font-size: 40px;
    margin: 10px;
    margin-top: 15px;
  }
}

@media screen and (max-width: 703px) {
  a {
    font-size: 35px;
    margin: 0px;
    margin-top: 15px;
  }
}

@media screen and (max-width: 533px) {
  a {
    font-size: 30px;
  }
}

@media screen and (max-width: 413px) {
  a {
    font-size: 25px;
  }
}
