<div class="container">
  <a class="routerLink" routerLink="" routerLinkActive="rounterLinkActive" [routerLinkActiveOptions]= "{exact: true}">Projects</a>
  <a class="routerLink" routerLink="/math" routerLinkActive="rounterLinkActive">Math</a>
  <a class="routerLink" routerLink="/oeis" routerLinkActive="rounterLinkActive">OEIS</a>
  <a class="routerLink" routerLink="/links" routerLinkActive="rounterLinkActive">Links</a>
  <a class="routerLink" routerLink="/quotes" routerLinkActive="rounterLinkActive">Quotes</a>
</div>
