<div class="container">
  <a class="routerLink" routerLink="" routerLinkActive="routerLinkActive" [routerLinkActiveOptions]= "{exact: true}">Projects</a>
  <a class="routerLink" routerLink="/math" routerLinkActive="routerLinkActive">Math</a>
  <a class="routerLink" routerLink="/oeis" routerLinkActive="routerLinkActive">OEIS</a>
  <a class="routerLink" routerLink="/links" routerLinkActive="routerLinkActive">Links</a>
  <a class="routerLink" routerLink="/quotes" routerLinkActive="routerLinkActive">Quotes</a>
</div>
