<div class="container">
  <a class="rounterLink" routerLink="" routerLinkActive="rounterLinkActive" [routerLinkActiveOptions]= "{exact: true}">Projects</a>
  <a class="rounterLink" routerLink="/math" routerLinkActive="rounterLinkActive">Math</a>
  <a class="rounterLink" routerLink="/oeis" routerLinkActive="rounterLinkActive">OEIS</a>
  <a class="rounterLink" routerLink="/links" routerLinkActive="rounterLinkActive">Links</a>
  <a class="rounterLink" routerLink="/quotes" routerLinkActive="rounterLinkActive">Quotes</a>
</div>