:host {
  margin-top: 20px;
  width: 100%;
  text-align: center;
}

div {
  display: inline-block;
  vertical-align: top;
  text-align: left;
  margin: 2%;
  width: 240px;
  font-size: 33px;
}

ul {
  margin-top: 33px;
  line-height: 200%;
  text-align: left;
  list-style-type: square;
  list-style-position: inside;
  text-align: left;
  font-size: 33px;
}

a {
  display: inline-block;
  vertical-align: top;
  text-align: left;
  width: 80%;
  color: #d7034e;
  font-size: 30px;

  &:hover {
    text-decoration: none;
  }
}

@media screen and (max-width: 839px) {
  div {
    width: 200px;
    font-size: 28px;
  }

  a {
    font-size: 25px;
  }

  ul {
    margin-top: 15px;
    line-height: 130%;
  }

  li::marker {
    display: inline-block;
    font-size: 20px;
  }
}

@media screen and (max-width: 703px) {
  div {
    width: 150px;
    font-size: 25px;
  }

  a {
    font-size: 23px;
  }

  ul {
    margin-top: 10px;
  }
}

@media screen and (max-width: 533px) {
  div {
    width: 180px;
    font-size: 25px;
  }

  a {
    font-size: 23px;
  }

  ul {
    line-height: 100%;
  }
}

@media screen and (max-width: 413px) {
  div {
    width: 150px;
    font-size: 23px;
  }

  a {
    font-size: 18px;
  }
}

@media screen and (max-width: 360px) {
  div {
    width: 130px;
    font-size: 23px;
  }

  a {
    font-size: 18px;
  }
}