<div>Bachelor project
	<ul>
		<li>
			<a href="https://github.com/MangoInstantMessenger/MangoMessengerAPI" target="_blank">
				Mango Messenger API
			</a>
		</li>
		<li>
			<a href="https://github.com/MangoInstantMessenger/MangoMessengerBachelorThesis" target="_blank">
				Bachelor Thesis
			</a>
		</li>
	</ul>
</div>
<div>Azure
	<ul>
		<li>
			<a href="https://github.com/kolosovpetro/Roadmap.AZ204" target="_blank">
				Roadmap.AZ204
			</a>
		</li>
		<li>
			<a href="https://github.com/kolosovpetro/ACRPractice.AZ204" target="_blank">
				ACR Practice
			</a>
		</li>
		<li>
			<a href="https://github.com/kolosovpetro/ServiceBusTopics.AZ204" target="_blank">
				ServiceBus Topics
			</a>
		</li>
		<li>
			<a href="https://github.com/kolosovpetro/QuickAndSimpleApiAuth" target="_blank">
				AzureAD Auth
			</a>
		</li>
		<li>
			<a href="https://github.com/kolosovpetro/OpenIDConnect.AZ204.API" target="_blank">
				OIDC API
			</a>
		</li>
		<li>
			<a href="https://github.com/kolosovpetro/EventGridDemo.AZ204" target="_blank">
				EventGrid Demo
			</a>
		</li>
		<li>
			<a href="https://github.com/kolosovpetro/AzureStorageSDKTraining.AZ204" target="_blank">
				Storage SDK
			</a>
		</li>
		<li>
			<a href="https://github.com/kolosovpetro/CosmosDBDemo.AZ204" target="_blank">
				CosmosDB Demo
			</a>
		</li>
		<li>
			<a href="https://github.com/kolosovpetro/StorageQueue.AZ204" target="_blank">
				Storage Queue Demo
			</a>
		</li>
		<li>
			<a href="https://github.com/kolosovpetro/MonitoringAndLogging.AZ204" target="_blank">
				Monitoring & Logging
			</a>
		</li>
		<li>
			<a href="https://github.com/kolosovpetro/AppServiceLogging.AZ204" target="_blank">
				AppService Logging
			</a>
		</li>
	</ul>
</div>
<div>DevOps
	<ul>
		<li>
			<a href="https://github.com/kolosovpetro/terraform-gameplay" target="_blank">
				Terraform & GHA
			</a>
		</li>
		<li>
			<a href="https://github.com/kolosovpetro/AzureUbuntuVMDeploy" target="_blank">
				Deploy to Ubuntu VM
			</a>
		</li>
		<li>
			<a href="https://github.com/kolosovpetro/SonarCloudViaGithubActions" target="_blank">
				SonarCloud & GHA
			</a>
		</li>
		<li>
			<a href="https://github.com/kolosovpetro/AzurePipelinesKeyVault" target="_blank">
				Azure Pipelines KeyVault
			</a>
		</li>
		<li>
			<a href="https://github.com/kolosovpetro/NetFrameworkDeployIIS" target="_blank">
				NET Framework IIS Deploy
			</a>
		</li>
		<li>
			<a href="https://kolosovpetro.github.io/pdf/ReleaseFlowProposal.pdf" target="_blank">
				Release Flow Proposal
			</a>
		</li>
		<li><a href="https://kolosovpetro.github.io/pdf/AzurePipelinesBestPractices.pdf" target="_blank">
				AzDo Best Practices
			</a>
		</li>
	</ul>
</div>
<div>Algorithms
	<ul>
		<li>
			<a href="https://github.com/kolosovpetro/MontyHallProblem" target="_blank">
				Monty Hall Problem
			</a>
		</li>
		<li>
			<a href="https://github.com/TheAlgorithms/C-Sharp/pull/280" target="_blank">
				Dynamic Coin Change
			</a>
		</li>
		<li>
			<a href="https://github.com/TheAlgorithms/C-Sharp/pull/278" target="_blank">
				Dijkstra Algorithm
			</a>
		</li>
		<li>
			<a href="https://github.com/kolosovpetro/Enigma" target="_blank">
				Enigma Machine
			</a>
		</li>
		<li>
			<a href="https://github.com/kolosovpetro/KnapsackProblem" target="_blank">
				Knapsack Problem
			</a>
		</li>
		<li>
			<a href="https://github.com/kolosovpetro/Classical-Algorithms" target="_blank">
				Classical Algorithms
			</a>
		</li>
		<li>
			<a href="https://github.com/kolosovpetro/Sort-Algorithms" target="_blank">
				Sort Algorithms
			</a>
		</li>
		<li>
			<a href="https://github.com/kolosovpetro/Search-Algorithms" target="_blank">
				Search Algorithms
			</a>
		</li>
		<li>
			<a href="https://github.com/kolosovpetro/RpnCalculator" target="_blank">
				RPN Calculator
			</a>
		</li>
		<li>
			<a href="https://github.com/kolosovpetro/Bit-Converter" target="_blank">
				Bit Converter
			</a>
		</li>
	</ul>
</div>
<div>Data structures & Patterns
	<ul>
		<li>
			<a href="https://github.com/kolosovpetro/Data-Structures" target="_blank">
				Linear Structures
			</a>
		</li>
		<li>
			<a href="https://github.com/kolosovpetro/Tree-Algorithms" target="_blank">
				Trees
			</a>
		</li>
		<li>
			<a href="https://github.com/kolosovpetro/Graph-Algorithms" target="_blank">
				Graphs
			</a>
		</li>
		<li>
			<a href="https://github.com/TheAlgorithms/C-Sharp/pull/233" target="_blank">
				Graphs via Matrix
			</a>
		</li>
		<li>
			<a href="https://github.com/kolosovpetro/Design-Patterns" target="_blank">
				Design Patterns
			</a>
		</li>
	</ul>
</div>
<div>Web Backend
	<ul>
		<li>
			<a href="https://github.com/kolosovpetro/CQRS-Api" target="_blank">
				CQRS API
			</a>
		</li>
		<li>
			<a href="https://github.com/kolosovpetro/Blockchain-Api" target="_blank">
				Blockchain API
			</a>
		</li>
		<li>
			<a href="https://github.com/kolosovpetro/Gadget-Store-MVC" target="_blank">
				Gadget Store MVC
			</a>
		</li>
		<li>
			<a href="https://github.com/kolosovpetro/BankMVC" target="_blank">
				Bank MVC Test Task
			</a>
		</li>
		<li>
			<a href="https://github.com/kolosovpetro/Rest-Api" target="_blank">
				REST API
			</a>
		</li>
	</ul>
</div>
<div>C#
	<ul>
		<li>
			<a href="https://github.com/kolosovpetro/DelegatesInLINQ" target="_blank">
				Delegates in LINQ
			</a>
		</li>
		<li>
			<a href="https://github.com/kolosovpetro/CovariantFactory" target="_blank">
				Covariant Factory
			</a>
		</li>
		<li>
			<a href="https://github.com/kolosovpetro/ContravariantList" target="_blank">
				Contravariant List
			</a>
		</li>
		<li>
			<a href="https://github.com/kolosovpetro/IoC-Container" target="_blank">
				IoC Container
			</a>
		</li>
		<li>
			<a href="https://github.com/kolosovpetro/Computer-Science" target="_blank">
				Computer Science
			</a>
		</li>
	</ul>
</div>