<div class="pdfIndexFolder">
  <div class="pdfIndexFolderContainer">
    <h1 class="title">Index of .</h1>
    <table class="pdfTable">
      <tr>
        <th>NAME</th>
        <th>SIZE</th>
      </tr>
      <tr *ngFor="let pdfJsonItem of pdfJsonItems">
        <td>
          <span>
            <svg-icon
              src="../../../assets/svg/pdf.svg"
              [svgStyle]="{ 'width.px': 25, 'height.px': 25 }"
              class="d"
            ></svg-icon>
          </span>
          <a href="{{ pdfJsonItem.Path }}" target="_blank">{{
            pdfJsonItem.Name
          }}</a>
        </td>
        <td>{{ pdfJsonItem.Size }} KB</td>
      </tr>
    </table>
  </div>
</div>
